.Banner {
  background-image: url();
}

.Header {
  background-color: #d73cbe;
}

@media only screen and (max-width: 600px) {

  .ContactUs {
    padding: 5px;
    text-align: center;
  }

  .Header {
    display: flex;
    flex-direction: column;
  }

  .Logo {
    display: flex;
    justify-content: space-between;
  }

  .Menu {
    display: none;
  }

  .Menu, a {
    border-radius: 5px;
    color: white;
    margin-bottom: 1px;
    padding: 5px;
    text-decoration: none;
  }

  .Menu, a:hover {
    background-color: grey;
  }

  .Menu, a:active {
    background-color: grey;
  }

  .Menu_Visible {
    background-color: #d73cbe;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .ShopItem_Card {
    border-radius: 5px;
    margin: 5px;
  }

}

@media only screen and (min-width: 601px) and (max-width: 768px) {

  .ContactUs {
    padding: 10px;
    text-align: center;
  }

  .Header {
    display: flex;
    flex-direction: column;
  }

  .Logo {
    display: flex;
    height: 60px;
    justify-content: space-between;
  }

  .Menu {
    display: none;
  }

  .Menu, a {
    border-radius: 5px;
    color: white;
    margin-bottom: 2px;
    padding: 5px;
    text-decoration: none;
  }

  .Menu, a:hover {
    background-color: grey;
  }

  .Menu, a:active {
    background-color: grey;
  }

  .Menu_Visible {
    background-color: #d73cbe;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .ShopItem_Card {
    border-radius: 5px;
    margin: 5px;
  }

}

@media only screen and (min-width: 769px) and (max-width: 992px) {

  .ContactUs {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  .Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }

  .Logo {
    height: 60px;
    width: 60px;
  }

  .Menu {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
  }

  .Menu, a {
    border-radius: 5px;
    margin-left: 1px;
    color: white;
    padding: 5px;
    text-decoration: none;
  }

  .Menu, a:hover {
    background-color: grey;
  }

  .Menu, a:active {
    background-color: grey;
  }

  .Mobile_Menu {
    display: none;
  }

  .ShopItem_Card {
    border-radius: 5px;
    margin: 5px;
  }

}

@media only screen and (min-width: 993px) and (max-width: 1400px) {

  .ContactUs {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .ContactUs_Details_Section {
    padding: 0 20px;
  }

  .Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
  }

  .Logo {
    height: 70px;
    width: 70px;
  }

  .Menu {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  .Menu, a {
    border-radius: 5px;
    margin-left: 2px;
    color: white;
    margin-left: 10px;
    padding: 5px;
    text-decoration: none;
  }

  .Menu, a:hover {
    background-color: grey;
  }

  .Menu, a:active {
    background-color: grey;
  }

  .Mobile_Menu {
    display: none;
  }

  .ShopItem_Card {
    border-radius: 5px;
    margin: 5px;
  }

}
