a {
  font-family: monospace;
  text-decoration: none;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
}

p {
  font-family: monospace;
}

@media only screen and (max-width: 600px) {

  .Artist_Section {
    background-image: url("../public/Banner-2.jpg");
    padding: 5px;
  }  

  .Banner1_Section {
  background-image: url("../public/Banner-1.png");
  color: white;
  height: 500px;
  padding: 5px;
}

}

@media only screen and (min-width: 601px) and (max-width: 768px) {

  .Artist_Section {
    background-image: url("../public/Banner-2.jpg");
    padding: 10px;
  }  

  .Banner1_Section {
    background-image: url("../public/Banner-1.png");
    color: white;
    height: 500px;
    padding: 15px;
  }

}

@media only screen and (min-width: 769px) and (max-width: 992px) {

  .Artist_Section {
    background-image: url("../public/Banner-2.jpg");
    padding: 15px;
  }  

  .Banner1_Section {
    background-image: url("../public/Banner-1.png");
    color: white;
    padding: 90px 150px 90px 90px;
  }

}

@media only screen and (min-width: 993px) and (max-width: 1400px) {

  .Artist_Section {
    background-image: url("../public/Banner-2.jpg");
    padding: 20px;
  }  

  .Banner1_Section {
    background-color: #d73cbe;
    background-image: url("../public/Banner-1.png");
    color: white;
    height: 500px;
    padding: 90px 150px 90px 90px;
  }

  .Business_Section {
    background-image: url("../public/Banner-4.jpg");
    padding: 20px;
  }

  .Business_Sect_Tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Header {
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Logo {
    padding: 10px;
  }

  .Mobile_Menu {
    display: none;
  }

  .Navigation {
    display: flex;
    flex-direction: row;
  }

  .Navigation, a {
    color: white;
    padding: 10px;
  }

  .ShopItemCard {
    border: 1px solid #d73cbe;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
  }

  .Shop_Section {
    padding: 20px;
  }

  .Shop_Sect_Items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Sports_Section {
    padding: 20px;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 50px;
  }

  h4 {
    font-size: 40px;
  }

  h5 {
    font-size: 30px;
  }

  h6 {
    font-size: 20px;
  }

  p {
    font-size: 25px;
  }

}